@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Principal";
}
<div class="container-fluid backgroundVideo">
    <div class="position-absolute top-0 start-0">
        <img src="/img/AWAQWhite.png" class="start-logo" />
    </div>
    <div class="grafLogIn">
        <div class="row rowLogIn">

            <div class="col squaresTransparent">
                <div class="text-center text-align-center">
                    <h1 class="display-1">¡Bienvenido de nuevo!</h1>
                    <p class="display-6">Ingresa tus datos para ver tu proceso como biomonitor</p>
                </div>
            </div>
            <div class="col squaresLogIn">
                <div class="d-inline-flex">
                    <div class="text-align-top text-align-center">
                        <h2 class="text-white ingresar">Ingresar</h2>
                    </div>
                    <div class="text-align-center especies">
                        <a href="Inv" class="text-white ingresar derecha"> Lista de especies </a>
                    </div>
                </div>
                <div class=" container-fluid loginData">
                    <form method="post">
                        <div class="gap-4 full-size">
                            <div class="form-floating mb-3">
                                <input asp-for="correo" type="email" class="form-control floatingInput" placeholder="name@example.com">
                                <span asp-validation-for="correo" class="text-white"></span>
                                <label for="floatingInput">Correo</label>
                            </div>
                            <div class="form-floating">
                                <input asp-for="password" type="password" class="form-control" placeholder="Password">
                                <span asp-validation-for="password" class="text-white"></span>
                                <label for="floatingPassword">Contraseña</label>
                            </div>
                        </div>
                        <div class="d-grid gap-2 container-fluid">
                            <button type="submit" class="btn btn-primary botonlogin">Ingresar</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <p class="cuenta mt-2 text-white">¿Nuevo usuario? <a href="/Register">Regístrate</a></p>
                        @if (Model.loginIncorrecto)
                        {
                            <p class="text-white">*El correo o contraseña son incorrectos*</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <video autoplay muted loop class="Video">
        <source src="/img/waterfall.mp4" type="video/mp4">
    </video>
</div>